<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header class="header_ejs">
        <header class="header">
              <h1 class="header__title">Brillant Brains</h1>
              <h2>Detalle del proyecto</h2>
            
            
    </header>



    </header>
    
</body>
</html>