.header_ejs{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    color: white;
    padding: 20px;
}
.body_ejs{
    background-color: pink;
}
.card_ejs{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    background-color: white;
    padding: 20px; 
    outline: 2px solid white; 
    outline-offset: -4px; 
    font-size: 0.875rem; 
    line-height: 1.4;
    margin-left: 200px;
    margin-right: 200px;    
}
.projectImage_ejs{
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
}
